@page "/"
@using Domain.Models
@inject Auth auth
@inject IApiService api
@inject NavigationManager nav

<PageTitle>Home</PageTitle>
<h1>Hello, world!</h1>
<h1>
</h1>
@if (IsAuth == null)
{
    <h1>
        Loading...
    </h1>
}
else if(IsAuth ==true)
{
    <h1>
        You Auth and you just user
    </h1>
    <br />
    <button onclick="@RemoveSessionClicked">Logout</button>
}
else
{
    <h1>
        You Not Auth
    </h1>
}




Welcome to your new app.
@code{
    private bool? IsAuth = null;
    private async Task RemoveSessionClicked()
    {
        await api.Logout();
        nav.Refresh(true);
    }
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);// لعمل تزامن بين حالات اخذ الكوكيز
        var gust = await auth.GetAuthenticationAsync();

        if(gust.IsSucceeded)
        {
            IsAuth = true;
        }
        else if(!gust.IsSucceeded)
        {
            IsAuth = false;
        }
        else
        {
            IsAuth = null;
        }
        StateHasChanged();

    }

}